html, body {
  margin: 0;
  padding: 0;
  border: 0;
  
  overflow: hidden;
  
  background-color: var(--bg-main);
  color: var(--fg-main);
  
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
  
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  
  box-sizing: border-box;
  
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  line-height: calc(var(--line-height) + var(--font-size));
}

::selection {
  background-color: var(--fg-main);
  color: var(--bg-main);
}

/*
  Terminal stuff:
    #terminal -- main container
    #terminal-input-wrapper -- wraps the text field used to take terminal inputs
    #terminal-input-path -- non-editable, holds path (e.g. "root@host: ~# ")
    #terminal-input -- contenteditable span for the user to type in commands
    .terminal-entry -- #terminal-input, input logs, STDOUT/STDWRN/STDERR, etc.
*/

#terminal-wrapper {
  overflow-y: scroll;
  
  box-sizing: border-box;
  
  margin: 12px;
  border: 4px solid var(--fg-main);
  padding: 1em;
  
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  
  position: relative;
  
  /* SCROLLBAR STYLING -- Here Be Dragons
       Due to terrible browser cross-compat, we're just gonna
       
       not
       
       do that
  */
}

#terminal {
  margin: 0;
  border: 0;
  padding: 0;
  
  width: calc(100% - 2em);
  min-height: 100%;
  height: min-content;
  
  display: flex;
  overflow-y: visible;
  
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

#terminal-input-wrapper {
  min-height: calc(var(--font-size) + var(--line-height));
  
  background-color: var(--bg-main);
  color: var(--fg-main);
}

#terminal-input-path {
  margin: 0;
  border: 0;
  padding: 0;
}

.terminal-input-path-component {
  margin: 0;
  border: 0;
  padding: 0;
}

#terminal-input {
  margin: 0;
  border: 0;
  padding: 0;
  
  display: inline-block;
  
  width: 100%;
  height: var(--font-size);
  
  /* Every modern browser *except* pre-Chromium Edge supports this property. */
  caret-color: currentColor;
  white-space: wrap;
}

#terminal-input:focus {
  border: none;
}

.terminal-entry {
  margin: 0;
  border: 0;
  padding: 0;
  
  display: block;
  list-style-type: none;
  
  white-space: normal;
}

.terminal-entry:not(#terminal-input) {
  overflow-anchor: none;
}